@page "/"

<PageTitle>CardFactory - Where Every Card Matters </PageTitle>


<div style="padding:10px;">
    <Hero />

    <FeaturedProducts />

    <CoreBenefits />

    <Testimonials/>

    <ShopInsightsBanner />

    <Footer />
</div>