@page "/products"
@inject NavigationManager Nav

<div class="container py-5">
    <ExploreProductRange @bind-SearchTerm="SearchTerm" />

    <DiscoverProductTypes />

    <HelpBanner />

    <InfoCards />

    <ShopInsightsBanner />

    <Footer/>
</div>

@code {
    private string? SearchTerm { get; set; }

}
