<div class="shop-insights-banner">
    <div class="banner-content">
        <h2 class="banner-title">
            Real-World Card Game Insights
        </h2>
        <div class="banner-actions">
            <a href="/blogs" class="btn btn-primary">
                Discover Blogs <i class="bi bi-arrow-right"></i>
            </a>

            <a href="/subscribe" class="btn btn-light">
                Subscribe
            </a>
        </div>
    </div>
</div>